{"_comment": "include the necessary secret informations here",
    "rspace": [{
        "apiKey": "",
        "apiUrl": "",
        "apiInventoryPath": "inventory",
        "apiSearchFile": "v1/search?",
        "apiSampleFile": "v1/samples"}],
    "elabFTW": [{
        "apiKey": "",
        "apiUrl": "",
        "apiInventoryPath": "",
        "apiSearchFile": "",
        "apiSampleFile": ""}],
    "linkformat": [{
        "defaultSampleNameOrder": ["decoded", "documentName", "documentUniqueId", "userName", "timestamp"],
        "barcodesDescription": "datamatrix code: ",
        "postSampleLinkDescription": "newly created: ",
        "getSampleLinkDescription": "found: "
    }],
    "options": [{
        "recOnClick": 0
    }]
}